//run sass --watch scss:public/stylesheets/ in four

body {
    font-size: 16px;
    font-family: 'Heiti TC', HeitiTC-Light, LiHei, 微軟正黑體, Lato, Verdana, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #656565;
    -webkit-font-smoothing: antialiased;
    background-color: #F0F0F0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.main{
    clear: both;
    margin-top: 55px;
    position: relative;
    min-height: 100%;
    margin-right: auto;
    margin-left: auto;
}

.glyphicon {
    margin: 0 5px;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    min-height: 55px;
    background-color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.navbar-collapse {
    padding: 0 80px;
}
.nav-logo {
    float:left;
    margin-left: 20px;
    line-height: 55px;
    img {
        height: 40px;
    }
}
.nav-menu {
    height: 55px;
    a.reg-log {
        line-height: 55px;
        margin-left: 20px;
        font-weight: bold;
        color: rgba(0,0,0,.65);
        text-decoration: none;
        border-bottom: transparent solid 1px;
        padding-bottom: 5px;
        &:hover {
            color: rgba(0,0,0,.95);
            border-bottom: #ff715b solid 3px;
        }
    }
    a.login-menu {
        height: 100%;
        margin-left: 20px;
        line-height: 55px;
        font-weight: bold;
        color: rgba(0,0,0,.65);
        text-decoration: none;
    }
    .photo-box {
        margin: 0 5px;
        vertical-align: middle;
        height: 40px;
        width: 40px;
        display: inline-block;
        border: 2px solid #ff715b;
        border-radius: 50%;
        overflow: hidden;
        img {
            height: 38px;
            width: 38px;
        }
    }
    .dropdown {
        margin: 0 15px;
        height: 70px;
        z-index: 1;
        position: relative;
        display: inline-block;
        &:hover .dropdown-content{
            display: block;
        }
    }
    float: right;
    margin-right: 20px;
    .dropdown-content {
        border-radius: 10px;
        border: 1px solid rgba(0,0,0,.1);
        display: none;
        position: absolute;
        background-color: white;
        min-width: 300px;
        top: 65px;
        left: auto;
        right: 1px;
        line-height: normal;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        a {
            display: block;
            margin: 0 20px;
            padding-bottom: 0px;
            border-bottom: 1px solid rgba(0,0,0,.12);
            &:hover {
                color: rgba(0,0,0,.95);
            }
        }
        .hover-item{
            position: relative;
            left: 0;
            -webkit-transition: left .15s ease-out;
            transition: left .15s ease-out;
            &:hover {
                left: 6px;
            }
        }
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            top: -9px;
            right: 10px;
            bottom: auto;
            border: 9px solid transparent;
            border-top: 0;
            border-bottom-color: white;
            z-index: 1;
        }
    }
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer {
    position: relative;
    width: 100%;
    min-height: 70px;
    background-color: white;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.footer-menu {
    font-size: 14px;
    height: 70px;
    padding: 5px 80px;
    text-align: center;
    a {
        margin-right: 50px;
        line-height: 70px;
        color: rgba(0,0,0,.65);
        text-decoration: none;
        &:hover {
            color: rgba(0,0,0,.95);
        }
    }
    span {
        color: rgba(0,0,0,.7);
    }
    margin-right: 20px;
}
