.row {
    height: 100%;
    margin: 0 auto;
    padding-bottom: 100px;
    background-color: white;
    h2 {
        text-align: center;
        font-weight: bold;
        margin: 50px 0;
    }
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}
.btn-box {
    display: block;
    text-align: center;
    margin-top: 50px;
    .btn-submit {
        font-size: 20px;
    }
}

.case-detail {
    padding: 0 20px;
    .input-box {
        border-radius: 5px;
        background: #F0F0F0;
        display: block;
        padding: 25px;
        margin-bottom: 15px;
        label {
            width: 20%;
        }
        input{
            width: 100%;
            padding: 8px 10px;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.12);
            &:focus {
                outline: none !important;
                box-shadow: 0 0 5px #719ECE;
            }
        }
        .ng-invalid {
            border: 1px solid #ee6457;
            &:focus {
                box-shadow: 0 0 5px #F8BAB5;
            }
        }
        .input-field {
            display: inline-block;
            padding: 8px 10px;
            font-weight: 400;
            width: 75%;
        }
        .input-detail {
            width: 100%;
            padding: 8px 10px;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.12);
            &:focus {
                outline: none !important;
                box-shadow: 0 0 5px #719ECE;
            }
        }
        .image-upload {
            width: 300px;
        }
    }
    .display-box {
        margin-top: 59px;
        padding: 25px;
    }
}

.validation-messages {
    color: red;
}

//datepicker css
.md-datepicker-open {
    .md-datepicker-calendar-icon {
        fill: #ff715b;
    }
}

.md-datepicker-input-mask {
    width: auto;
    height: auto;
}

input.md-datepicker-input {
    background: white;
}

.case-detail .input-box .ng-invalid {
    border: none;
}

.md-datepicker-input-container {
    margin-left: 0;
}
.md-datepicker-input-container.md-datepicker-focused {
    border-bottom-color: #ff715b;
}

.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #ff715b;
}

.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #ff715b;
}

.md-button.md-icon-button {
    margin: 6px 8px;
}

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }
  .selectdemoSelectHeader md-content._md {
    max-height: 240px;

}
md-input-container {
    width: 150px;
    padding: 3px 5px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgba(0,0,0,.12);
    &:focus {
        outline: none !important;
        box-shadow: 0 0 5px #719ECE;
    }
}

md-input-container:not(.md-input-invalid).md-input-focused label {
    color: #ff715b;
}

md-select:not([disable]):focus ._md-select-value {
    border-bottom-color: #ff715b;
}

md-select-menu md-content md-option[selected] {
    color: #ff715b;
}
md-optgroup md-option[selected] {
    color: #ff715b;
}

md-select-menu md-content md-option[selected]:focus {
    color: #ff715b;
}
