.row {
    height: 100%;
    margin: 0 auto;
    background-color: white;
    h2 {
        text-align: center;
        font-weight: bold;
        margin: 50px 0;
    }
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

.case-detail {
    padding: 0 20px;
    .input-box {
        border-radius: 5px;
        background: #F0F0F0;
        display: block;
        padding: 25px;
        margin-bottom: 15px;
        label {
            width: 20%;
        }
        input{
            width: 100%;
            padding: 8px 10px;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.12);
            &:focus {
                outline: none !important;
                box-shadow: 0 0 5px #719ECE;
            }
        }
        .ng-invalid {
            border: 1px solid #ee6457;
            &:focus {
                box-shadow: 0 0 5px #F8BAB5;
            }
        }
        .input-field {
            display: inline-block;
            padding: 8px 10px;
            font-weight: 400;
            width: 75%;
        }
    }
}

//dropdown css

.input-dropdown {
    width: 100%;
}
.input-dropdown ul {
    max-height: 250px;
    overflow: scroll;
}
.input-dropdown ul > li.active {
    background-color: #F8BAB5;
}

//datepicker css
.md-datepicker-open {
    .md-datepicker-calendar-icon {
        fill: #ff715b;
    }
}

input.md-datepicker-input {
    background: white;
}

.md-datepicker-input-container {
    margin-left: 0;
}
.md-datepicker-input-container.md-datepicker-focused {
    border-bottom-color: #ff715b;
}

.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #ff715b;
}

.md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #ff715b;
}

.md-button.md-icon-button {
    margin: 6px 8px;
}
