.col-lg-4 {
    padding: 0;
}

.user_entrance {
    height: 600px;
    p {
        font-size: 35px;
        color: #ff715b;
        opacity: 0;
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 42%;
        right: 50%;
        margin-right: -125px;
        width: 250px;
        transition-property: opacity;
        transition-duration: 0.3s;
    }
    h2 {
        line-height: 60px;
        color: white;
        display: inline-block;
        text-align: center;
        position: absolute;
        top: 70%;
        right: 50%;
        margin-right: -100px;
        border: 4px solid #ff715b;
        width: 200px;
    }
    .backcolor {
        height: inherit;
        background-color: white;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.3s;
    }
    a:hover {
        .backcolor{
            opacity: 0.8;
        }
        p {
            opacity: 1;
        }
        h2 {
            background-color: #ff715b;
        }
    }
    @media (max-width: 1250px) {
        height: 500px;
    }
    @media (max-width: 1120px) {
        height: 450px;
    }
}
.demander {
    height: 600px;
    background-image: url("/image/index-case.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @media (max-width: 1250px) {
        height: 500px;
    }
    @media (max-width: 1120px) {
        height: 450px;
    }
}
.PM {
    height: 600px;
    background-image: url("/image/index-PM.jpg");
    background-size: cover;
    background-position: 70% 50%;
    background-repeat: no-repeat;
    @media (max-width: 1250px) {
        height: 500px;
    }
    @media (max-width: 1120px) {
        height: 450px;
    }
}
.worker {
    height: 600px;
    background-image: url("/image/index-pro.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @media (max-width: 1250px) {
        height: 500px;
    }
    @media (max-width: 1120px) {
        height: 450px;
    }
}

.center-container {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 150px;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}
.row {
    width: 950px;
    margin: 0 auto;
    padding-top: 150px;
    .detail {
        margin-bottom: 50px;
        font-size: 1.1em;
    }
    .btn-reg {
        padding: 10px 20px;
        font-size: 20px;
        margin-top: 20px;
        color: #fff;
        background-color: #ff715b;
        opacity: 0.85;
        &:hover {
            opacity: 1;
        }
    }
    h1 {
        margin-bottom: 50px;
        font-size: 3em;
        color: #ff715b;
        font-weight: 700;
    }
    h2 {
        font-size: 2em;
        margin-top: 40px;
        color: #ff715b;
        font-weight: 700;
        text-align: center;
    }
    img.who {
        margin-top: 40px;
        width: 100%;
    }
    figure {
        width: 200px;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
    .feature-box {
        padding-left: 20px;
        padding-right: 20px;
    }
}
