.row {
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: white;
    h2 {
        text-align: center;
        font-weight: bold;
    }
    hr {
        border-color: rbga(0,0,0,0.2);
    }
    .col-lg-4 {
        margin-top: 25px;
    }
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}
.no-case {
    min-height: 260px;
}
