.Register_Login .logo {
  width: 100%; }
  .Register_Login .logo img {
    height: auto; }
.Register_Login .btn-login {
  background-color: #83dd7e;
  border-width: 0;
  color: #efeff6;
  font-size: 16px;
  font-weight: 500;
  font-family: 'LiHei Pro';
  display: block;
  margin: 0 auto;
  padding: 10px 10px;
  text-transform: uppercase;
  width: 100%; }
  .Register_Login .btn-login:hover {
    background-color: #63d55c;
    color: #FFFFFF; }
.Register_Login .modal-dialog {
  width: 400px; }
.Register_Login .modal-header {
  border: 0 none; }
.Register_Login .modal-footer {
  border-top: 0;
  margin-top: 0px;
  padding: 0px 10px 10px; }
.Register_Login .box .social {
  float: none;
  margin: 0 auto 20px;
  text-align: center; }
  .Register_Login .box .social .fa {
    font-size: 30px; }
  .Register_Login .box .social .facebook {
    background-color: #617fbd;
    color: #FFFFFF;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 15px 0px;
    padding: 15px 15px 15px 60px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'LiHei Pro';
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px #5772aa, 0px 5px 0px 0px #4d6597, 0px 10px 5px #999; }
    .Register_Login .box .social .facebook:hover {
      text-decoration: none;
      background-color: #6E83CD;
      box-shadow: inset 0px 1px 0px #6375b8, 0px 5px 0px 0px #5e74a1, 0px 10px 5px #999; }
      .Register_Login .box .social .facebook:hover:before {
        border-right: 2px solid #7c8fd2; }
    .Register_Login .box .social .facebook:before {
      background-image: url(/image/facebook-64.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 32px 32px;
      content: '';
      text-decoration: none;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 60px;
      border-radius: 10px 0 0 10px;
      border-right: 2px solid #5772aa; }
    .Register_Login .box .social .facebook:active {
      top: 3px;
      background-image: linear-gradient(bottom, #3eb8e5 0%, #2ca0ca 100%);
      box-shadow: inset 0px 1px 0px #6375b8, 0px 2px 0px 0px #5e74a1, 0px 5px 3px #999; }
  .Register_Login .box .social .google {
    display: inline-block;
    width: 100%;
    background-color: #f75b47;
    color: #FFFFFF;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    font-family: 'LiHei Pro';
    border-radius: 5px;
    padding: 15px 15px 15px 60px;
    margin-bottom: 10px;
    box-shadow: inset 0px 1px 0px #de513f, 0px 5px 0px 0px #c54838, 0px 10px 5px #999; }
    .Register_Login .box .social .google:hover {
      text-decoration: none;
      background-color: #FF7566;
      box-shadow: inset 0px 1px 0px #e5695b, 0px 5px 0px 0px #ca5a4b, 0px 10px 5px #999; }
      .Register_Login .box .social .google:hover:before {
        border-right: 2px solid #e7786b; }
    .Register_Login .box .social .google:before {
      background-image: url(/image/google-plus-64.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 32px 32px;
      content: '';
      text-decoration: none;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 60px;
      border-radius: 10px 0 0 10px;
      border-right: 2px solid #de513f; }
    .Register_Login .box .social .google:active {
      top: 3px;
      background-image: linear-gradient(bottom, #3eb8e5 0%, #2ca0ca 100%);
      box-shadow: inset 0px 1px 0px #e5695b, 0px 2px 0px 0px #ca5a4b, 0px 5px 3px #999; }
.Register_Login .form-control {
  width: 100%;
  font-weight: 500;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.05); }
  .Register_Login .form-control:hover {
    background-color: rgba(0, 0, 0, 0.16); }
  .Register_Login .form-control:focus {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0, 0, 0, 0.23);
    color: #333333; }

/*# sourceMappingURL=Register_Login.css.map */
