<!DOCTYPE html>
<html>
  <head>
      <title>四人幫</title>
      <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/all.css'>
      <link rel='stylesheet' href='/stylesheets/mycase.css'>
      <link rel='stylesheet' href='/stylesheets/animate.css'>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
      <script src="/components/jquery/dist/jquery.min.js"></script>
      <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/components/wowjs/dist/wow.min.js"></script>
      <script>new WOW().init();</script>
  </head>
  <body>
    <%-include ../layout/login-nav %>
    <div class="main">
    </div>
    <%- include ../layout/footer %>
  </body>
</html>
