<!DOCTYPE html>
<html>
  <head>
      <title>四人幫</title>
      <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/all.css'>
      <link rel='stylesheet' href='/stylesheets/index.css'>
      <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%-include ../layout/navbar %>
    <div class="main">
        <div class="user_entrance">
            <a href="/">
                <div class="col-xs-6">
                    <img class="category" src="/image/index-pro.jpg">
                    <img class="pic" src="/image/pro-pic.svg">
                    <h2>我要找人才</h2>
                </div>
            </a>
            <a href="/">
                <div class="col-xs-6">
                    <img class="category" src="/image/index-case.jpg">
                    <img class="pic" src="/image/case-pic.svg">
                    <h2>我要接案子</h2>
                </div>
            </a>
        </div>
        <div class="intro">
            <div class="col-lg-offset-3 col-lg-6">
                <h1>四人幫-亞洲最大的影音媒合平台</h1>
                <p class="detail">四人幫提供一個媒合的平台，讓想要製作或拍攝影片的需求者，能夠找到具備專業技能的業餘人士，而且能夠直接與他們溝通，來製作出符合期待又高品質的影片！</p>
            </div>
        </div>
    </div>
    <%- include ../layout/footer %>
  </body>
</html>
