<!DOCTYPE html>
<html>
  <head>
      <title>四人幫</title>
      <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/all.css'>
      <link rel='stylesheet' href='/stylesheets/index.css'>
      <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <%-include ../layout/navbar %>
    <div class="main">
        <div class="user_entrance">
            <a href="/">
                <div class="col-xs-6">
                    <img class="category" src="/image/index-pro.jpg">
                    <img class="pic" src="/image/pro-pic.svg">
                    <h2>我要找人才</h2>
                </div>
            </a>
            <a href="/">
                <div class="col-xs-6">
                    <img class="category" src="/image/index-case.jpg">
                    <img class="pic" src="/image/case-pic.svg">
                    <h2>我要接案子</h2>
                </div>
            </a>
        </div>
        <div class="intro">
        </div>
    </div>
    <%- include ../layout/footer %>
  </body>
</html>
