<!DOCTYPE html>
<html ng-app="four">
  <head>
      <title>四人幫</title>
      <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/all.css'>
      <link rel='stylesheet' href='/stylesheets/mycase.css'>
      <link rel='stylesheet' href='/stylesheets/animate.css'>
      <link rel='stylesheet' href='/stylesheets/case-box.css'>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
      <script src="/components/angular/angular.min.js"></script>
      <script src="/components/jquery/dist/jquery.min.js"></script>
      <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/components/wowjs/dist/wow.min.js"></script>
      <script>new WOW().init();</script>
      <script src="/javascript/event.js"></script>
      <script src="/javascript/case.js"></script>
  </head>
  <body>
      <%-include ../layout/Register_Login %>
    <div class="main" ng-controller="mycaseController">
        <%-include ../layout/login-nav %>
        <div class="row">
            <h2>我的提案</h2>
            <div class="col-lg-12 col-md-12">
                <h3>正在進行的提案</h3>
                <hr>
                <div ng-show="cases.length == 0">
                    <p>目前還沒有提任何案子耶....</p>
                </div>
                <div class="col-lg-4 col-md-6" ng-repeat="case in cases | orderBy:'status'" ng-if="case.status != 'finished'">
                    <div class="case-container">
                        <div class="case-box">
                            <div class="img-container">
                                <div class="status-flag" ng-class="case.status" >{{case.status_word}}</div>
                                <img ng-src="{{case.pic_url}}" class="case-pic">
                            </div>
                            <h4 ng-bind="case.name"></h4>
                            <div class="case-intro">
                                <div class="case-money">
                                    報酬
                                    <span ng-bind="case.money"></span>
                                </div>
                                <div class="case-apply">
                                    應徵人數
                                    <span ng-bind="case.applicant+'人'"></span>
                                </div>
                                <div class="case-loc">
                                    地點
                                    <span ng-bind="case.location"></span>
                                </div>
                                <div class="case-date">
                                    截止日
                                    <span ng-bind="case.date"></span>
                                </div>
                            </div>
                        </div>
                        <div class="text_display" ng-if="case.status == 'finding'">
                            <a href="/">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>查看</span>
                            </a>
                            <a href="/">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>名單</span>
                            </a>
                            <a href="/">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>下架</span>
                            </a>
                        </div>
                        <div class="text_display" ng-if="case.status == 'found'">
                            <a href="/">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>查看</span>
                            </a>
                            <a href="/">
                                <i class="fa fa-comments"></i>
                                <span>討論室</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <h3>已經結束的提案</h3>
                <hr>
                <div ng-show="cases.length == 0">
                    <p>目前還沒有提任何案子耶....</p>
                </div>
                <div class="col-lg-4 col-md-6" ng-repeat="case in cases" ng-if="case.status == 'finished'">
                    <div class="case-container">
                        <div class="case-box">
                            <div class="img-container">
                                <div class="status-flag" ng-class="case.status" >{{case.status_word}}</div>
                                <img ng-src="{{case.pic_url}}" class="case-pic">
                            </div>
                            <h4 ng-bind="case.name"></h4>
                            <div class="case-intro">
                                <div class="case-money">
                                    報酬
                                    <span ng-bind="case.money"></span>
                                </div>
                                <div class="case-apply">
                                    應徵人數
                                    <span ng-bind="case.applicant+'人'"></span>
                                </div>
                                <div class="case-loc">
                                    地點
                                    <span ng-bind="case.location"></span>
                                </div>
                                <div class="case-date">
                                    截止日
                                    <span ng-bind="case.date"></span>
                                </div>
                            </div>
                        </div>
                        <div class="text_display">
                            <a href="/">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>查看</span>
                            </a>
                            <a href="/">
                                <i class="fa fa-comments"></i>
                                <span>討論室</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <%- include ../layout/footer %>
  </body>
</html>
