<!DOCTYPE html>
<html>
  <head>
      <title>四人幫</title>
      <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css">
      <link rel='stylesheet' href='/stylesheets/all.css'>
      <link rel='stylesheet' href='/stylesheets/mycase.css'>
      <link rel='stylesheet' href='/stylesheets/animate.css'>
      <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
      <script src="/components/jquery/dist/jquery.min.js"></script>
      <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/components/wowjs/dist/wow.min.js"></script>
      <script>new WOW().init();</script>
  </head>
  <body>
      <% if (!name) { %>
          <%-include ../layout/Register_Login %>
          <%-include ../layout/navbar %>
      <% } else { %>
          <%-include ../layout/login-nav %>
      <% } %>
    <div class="main">
        <div class="row">
            <h2>我的接案</h2>
            <div class="col-lg-12 type">
                <h3>申請中的案子</h3>
                <hr>
            </div>
            <div class="col-lg-12 col-md-12">
                <h3>我管理的案子</h3>
                <hr>
                <div class="col-lg-4 col-md-6">
                    <div class="case-container">
                        <div class="case-box">
                            <div class="img-container">
                                <img class="case-pic" src="/image/thatyear.jpg">
                            </div>
                            <h4>那些年我們一起追的女孩</h4>
                            <div class="case-intro">
                                <div class="case-money">
                                    報酬
                                    <span>NT$1,000</span>
                                </div>
                                <div class="case-loc">
                                    地點
                                    <span>台北市</span>
                                </div>
                                <div class="col-lg-12 case-date">
                                    日期
                                    <span>2016.5.10~2016.5.15</span>
                                </div>
                            </div>
                        </div>
                        <div class="text_display">
                            <a href="/">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>查看</span>
                            </a>
                            <a href="/">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span>編輯</span>
                            </a>
                            <a href="/">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>刪除</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="case-container">
                        <div class="case-box">
                            <div class="img-container">
                                <img class="case-pic" src="/image/waiting.jpg">
                            </div>
                            <h4>等一個人咖啡</h4>
                            <div class="case-intro">
                                <div class="case-money">
                                    報酬
                                    <span>NT$20,000</span>
                                </div>
                                <div class="case-loc">
                                    地點
                                    <span>台中市</span>
                                </div>
                                <div class="col-lg-12 case-date">
                                    日期
                                    <span>2016.5.10~2016.5.15</span>
                                </div>
                            </div>
                        </div>
                        <div class="text_display">
                            <a href="/">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>查看</span>
                            </a>
                            <a href="/">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span>編輯</span>
                            </a>
                            <a href="/">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>刪除</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="case-container">
                        <div class="case-box">
                            <div class="img-container">
                                <img class="case-pic" src="/image/ourtime.jpg">
                            </div>
                            <h4>我的少女時代</h4>
                            <div class="case-intro">
                                <div class="case-money">
                                    報酬
                                    <span>NT$10,000</span>
                                </div>
                                <div class="case-loc">
                                    地點
                                    <span>新北市</span>
                                </div>
                                <div class="col-lg-12 case-date">
                                    日期
                                    <span>2016.5.10~2016.5.15</span>
                                </div>
                            </div>
                        </div>
                        <div class="text_display">
                            <a href="/">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span>查看</span>
                            </a>
                            <a href="/">
                                <i class="glyphicon glyphicon-pencil"></i>
                                <span>編輯</span>
                            </a>
                            <a href="/">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>刪除</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 type">
                <h3>我參與的案子</h3>
                <hr>
            </div>
        </div>
    </div>
    <%- include ../layout/footer %>
  </body>
</html>
