<div class="footer">
    <div class="footer-menu">
        <a href="/">關於四人幫</a>
        <a href="/">常見問題</a>
        <a href="/">聯絡我們</a>
        <span>© 2016 FourMan, INC. ALL RIGHTS RESERVED.</span>
    </div>
</div>
