<div class="nav-container">
    <div class="collapse navbar-collapse">
        <div style="float:left; margin-left: 20px">
            <a href="/">
                <img class="logo" src="image/logo.png">
            </a>
        </div>
        <div class="nav-menu">
            <a href="/" class="nav-link">
                <div class="glyphicon glyphicon-edit" aria-hidden="true"></div>我要提案
            </a>
            <a href="/" class="nav-link">會員專區</a>
            <a href="/" class="nav-link">登出</a>
        </div>
    </div>
</div>
