<div class="nav-container">
    <div class="collapse navbar-collapse">
        <div class="nav-logo">
            <a href="/">
                <img src="image/logo.png">
            </a>
        </div>
        <div class="nav-menu">
            <div class="dropdown">
                <a href="/" class="login-menu">
                    <span><%= name %></span>
                </a>
                <div class="photo-box">
                    <img src="<%= photo_url %>">
                </div>
                <div class="dropdown-content">
                    <a href="/" class="login-menu">
                        <div class="hover-item">
                            <div class="glyphicon glyphicon-info-sign"></div>
                            <span>個人資料</span>
                        </div>
                    </a>
                    <a href="/" class="login-menu">
                        <div class="hover-item">
                            <div class="glyphicon glyphicon-edit"></div>
                            <span>我的提案</span>
                        </div>
                    </a>
                    <a href="/" class="login-menu">
                        <div class="hover-item">
                            <div class="glyphicon glyphicon-film"></div>
                            <span>我的接案</span>
                        </div>
                    </a>
                    <a href="/" class="login-menu">
                        <div class="hover-item">
                        <div class="glyphicon glyphicon-user"></div>
                        <span>編輯履歷</span>
                    </div>
                    </a>
                    <a href="/logout" class="login-menu">
                        <div class="hover-item">登出</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
