<div class="nav-container">
    <div class="collapse navbar-collapse">
        <div class="nav-logo">
            <a href="/">
                <img src="/image/logo.png">
            </a>
        </div>
        <div class="nav-menu">
            <a data-toggle="modal" href="#Register" class="nav-link reg-log">註冊</a>
            <a data-toggle="modal" href="#Login" class="nav-link reg-log">登入</a>
        </div>
    </div>
</div>
