<div class="nav-container">
    <div class="collapse navbar-collapse">
        <div class="nav-logo">
            <a href="/">
                <img src="image/logo.png">
            </a>
        </div>
        <div class="nav-menu">
            <a href="/" class="nav-link">
                <div class="glyphicon glyphicon-edit" aria-hidden="true"></div>我要提案
            </a>
            <a href="/" class="nav-link">
                <div class="glyphicon glyphicon-flag" aria-hidden="true"></div>新手上路
            </a>
            <a href="/reg" class="nav-link">註冊</a>
            <a href="/" class="nav-link">登入</a>
        </div>
    </div>
</div>
