<!--外部檔案上傳modal-->
<div id = "uploadInfo" class="modal fade" role = "dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <div class="row">
                <h2 class = "col-sm-6">上傳外部檔案</h2>
                <button class ="btn fa fa-upload col-sm-2 " style="margin-top:20px;"><input type="file">上傳</button>
              </div>
            </div>
            <div class="modal-body">
                  <div class="row">
                      <div class="col-sm-5">
                        <label>檔名:</label>
                        <input type="text" placeholder="輸入檔名" class= "form-control" ng-model = "newInfo.name">
                      </div>
                      <select class="form-control col-sm-4" type="select"  name="type"  ng-model="newInfo.type">
                        <option value="" disabled selected>選擇履歷種類</option>
                        <option>拍攝</option>
                        <option>後製</option>
                        <option>文案</option>
                        <option>其他</option>
                      </select>
                      <label class = "col-sm-3"><input type="checkbox" checked="checked" ng-click = "newInfo.ispublic = !newInfo.ispublic">公開資料</label>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                        <label>上傳日期:</label>
                        <input type="text" class= "form-control" ng-model="newInfo.uploaddate" id="uploaddate" disabled="value">
                        <span>{{newInfo.uploaddate|date:'yyyy/M/dd'}}</span>
                      </div>

                  </div>

            </div>
            <div class="modal-footer">
              <button class ="btn " data-dismiss="modal">取消</button>
              <button class ="btn " ng-click="AddResume(newInfo)">確認</button>
            </div>
        </div>
    </div>
</div>
